@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: none;
  font-family: raleway;
  background-color: #121212; /* Dark background */
  color: white;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full height of viewport */
  margin: 0;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.boeken {
  margin-top: 2em;
  display: inline-block;
  background-color: #ffea4d;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid transparent;
}

.boeken:hover {
  background-color: #ffd700; /* Slightly darker yellow */
  color: #222;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.boeken:active {
  transform: translateY(1px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.firefly-cursor {
  position: absolute;

  width: 5px;

  height: 5px;

  background-color: white;

  opacity: 80%;

  border-radius: 50%;

  pointer-events: none;

  animation: flicker 2s infinite alternate;

  z-index: 9999;
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 8px 3px #fddba3;
  }

  100% {
    box-shadow: 0 0 12px 7px #fddba3;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
